.navbar-social ul {
  margin-top: 18px;
}


img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}

.alignright {float:right; }
.alignleft {float:left; }
.aligncenter {display: block; margin-left: auto; margin-right: auto}

li {
  margin-bottom: 5px;
}

.btn {
  margin-right: 5px;
}

img {
  max-width: 100%;
}

.list-unstyled {
  margin-top: 20px;
}

.talks .fa-file-pdf-o, .talks .fa-file-powerpoint-o {
  margin-left: 10px;
}
